@header-height: 64px;
@menu-width: 200px;
@menu-small-width: 83px;
@layout-bg: #071427;
@logo-font-size: 22px;
@border-color: #22304f;
@dashboard-desc-color: #9fb3c8;
@primary-color: #0d9394;
@primary-color-light: rgba(13, 147, 148, 0.5);
