@header-height: 64px;
@menu-width: 200px;
@menu-small-width: 83px;
@layout-bg: #071427;
@logo-font-size: 22px;
@border-color: #22304F;
@dashboard-desc-color: #9FB3C8;
@primary-color: #27D3FF;
@primary-color-light: rgba(39, 211, 255, 0.5);
